@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 0;
}

:root {
  --main-color: #d41c08;
  --dark: #0e0e1a;
}

/*first-part-1*/
html{
  scroll-behavior: smooth;
}
nav {

  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0));
  width: 100%;
  background-color: #ffffff00;

  animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 12;
}

nav:not(.sidebar) {
  overflow: hidden;
}

.yasser_sham {
  font-size: 1.3rem;
}

.menu {
  display: none;
}

@media (max-width: 1046px) {
  .menu {
    display: block;
  }

  .hideonmobile {
    display: none;
  }

  .sidebar-2 ul li:not(:last-child) {
    display: none;
  }

}

.hideonmobile {
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: auto;
  height: auto;
  flex-wrap: wrap;
}

nav li {
  font-size: 1.2rem;
  height: 80px;
}

nav a {
  text-decoration: none;
  color: rgb(250, 250, 250);
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  transition: all 0.7s;
  position: relative;
}

nav a:hover {
  color: #d41c08;
}

ul {
  width: 100%;
}

ul img {
  width: 100px;
  max-width: 20%;
  height: auto;
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 250px;
  background-color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  z-index: 999;
  transition: right 0.3s ease;
}

.sidebar li a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.sidebar li {
  list-style: none;
  height: 50px;
  font-size: 1.5rem;

}

.sidebar.active {
  right: 0;
  opacity: 1;
}

.sidebar li,
.sidebar a {
  width: 100%;
}

.sidebar li:hover {
  background-color: #b2b2b2e6;
  border-radius: 6%;
}

@media(max-width: 988px) {
  .hideonmobile {
    display: none;
  }
}

@media(max-width: 400px) {
  .hideonmobile {
    width: 100%;
  }
}

/*end-Part-1*/

/*firest-part-2*/
.part-2-img-1 {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.img1 {
  animation: kenburns-right 5s ease-out reverse both;
}

@keyframes kenburns-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 50%;
  }

  100% {
    transform: scale(1.25) translateX(20px);
    transform-origin: right;
  }
}

.part-2-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}

.part-2-img-1 div {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 15;
}

.box-shadow-white {
  box-shadow:
    0 0 20px rgba(255, 255, 255, 0.15);
}


/*end-part-2*/



/*firest-part-3*/
.part-3 .header-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;

}

.part-3 p {
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12%;
}

.part-3 .about-3 {
  width: 92%;
  height: 50vh;
  padding: 20px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
}

.itame {
  width: 30%;
  height: 40vh;
  border: 1px solid #cccccc00;
  padding: 12px 30px;
  border-radius: 22px;
  flex-shrink: 0;
}

.itame img {
  width: 100%;
  height: 100%;
  border-radius: 22px;
  object-fit: cover;
  filter: contrast(1.05);
  flex-wrap: wrap;
  max-width: 100%;

}

/*end-part-3*/
/*firest-part-4*/
.part-4 {
  padding: 12px 20px;
  background-color: #18191a;
  color: #ffffff;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;

}

.kid-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.kid-1 img {
  width: 25%;
  height: auto;
  border-radius: 15px;

}

.kid-1 p,
h3 {
  line-height: 20px;
  gap: 20px;

}

.kid-1 :not(img) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 22px;
}

.kid-2 p,
h3 {
  padding: 10px;
  line-height: 20px;
}

.kid-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap-reverse;
  padding-bottom: 70px;

}

.kid-2 img {
  border-radius: 22px;
  width: 30%;
  height: auto;
}

.kid-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.kid-3 img {
  border-radius: 22px;
  width: 30%;
  height: auto;
}

.kid-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap-reverse;
}

.kid-4 img {
  width: 30%;
  height: auto;
  border-radius: 22px;
}

/*end-part-4*/
.sss {
  background-color: #18191a;
  height: 70px;
}

/*firest-part-5*/
.part-5 .kid-1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-bottom: 22px;
  gap: 2.6rem;
}

.part-5 .kid-1 .itame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background:
    radial-gradient(circle at top right, rgba(237, 231, 231, 0.15), transparent 60%),
    #feffff;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  color: #000000;
  flex: 1;
  max-width: 420px;
  height: auto;
  padding: 12px 6px;
  transition: all 1s ease;
  padding: 1rem;
  flex-wrap: nowrap;
}

.part-5 .kid-1 .itame p {
  width: 70%;
}

.part-5 .kid-1 .itame:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.part-5 .kid-1 .itame button {
  padding: 14px 34px;
  font-size: 16px;
  font-weight: 600;
  color: #020202;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.part-5 .kid-1 .itame button:hover {
  background: #000000;
  color: #fff;
  border: 2px solid #000000;
}

@media(min-width: 784px) {
  .part-5 .kid-1 .itame {
    width: 50%;
  }
}

@media(min-width: 320px) {
  .part-5 .kid-1 {
    display: flex;
  }

  .part-5 .kid-1 .itame {
    width: 100%;
    flex: auto;
  }
}

/*end-part-5*/
/*firest-part-6*/

/*end-part-6*/
/*firest-part-7*/
.Contact {
  background-color: #18191a;
  width: 100%;
  height: auto;
  padding-bottom: 22px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3%;
  flex-wrap: wrap;

}

.part-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  font-size: 1.5rem;
  color: #feffff;
}

.row img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  object-fit: cover;


}

.row {
  margin-top: 4rem;
  display: grid;
  background-color: #eae9e9;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 22px;
  width: 60%;
  height: auto;
  flex-wrap: wrap;
  padding: 30PX 30PX;
  box-shadow:
    0 0 40px rgba(255, 255, 255, 0.18),
    0 0 80px rgba(255, 255, 255, 0.12);
  column-gap: 2rem;
}

.row input,
.row textarea {
  display: block;
  width: 100%;
  outline: none;
  margin: 20px 0;
  background-color: #00f4ab0c;
  padding: 10px;
  border-radius: 12px;
}

.bnt-primary {
  background-color: #ffffff;
  color: #000000;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.bnt-primary:hover {
  background-color: #000000;
  color: #fff;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
    width: 90%;
  }
}

/*end-part-7*/

/*footer-firest*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #18191a;
  color: #eae9e9;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-box ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #efefef;
}

.footer-box li {
  list-style: none;

}

.footer-box a {
  text-decoration: none;

}

/*foter-end*/